h1{
    color:grey
}

form{
    padding:40px;
}

input{
    padding:10px 15px;
    display: block;
    width:100%;
    border:1px solid #EAE7E5;
}

.inBtn{
    cursor:pointer;
    background:#FF7A00;
    border:0;
    width:100%;
    color: #fff;
}
.inBtn:hover{
    background: #FF4B00;
 }

.logDiv{
    position:relative;
    top:30%;
    border:1px solid color #fff;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}