@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

button{
    cursor:pointer;
    background:#FF7A00;
    border:0;
    width:200px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: 2px;
}:hover{
    background: #FF4B00;
}

input{
    width: inherit;
    height: 25px;
}

th{
    padding-right:20px;
    border-top: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    background: #FF7A00;
    padding-left:2px;
    font-weight: normal;
}

.hidden{
    display: none;
}

.widget-heading{
    font-size: medium;
    color:grey;
}

.widget-subheading{
    font-size: small;
    color:grey;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
}

.widget-container{
    display: inline-flex;
}

.widget-content-string{
    color:grey;
    padding-left: 10px;
}

.dashboard-resumen{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    margin:10px 5px;
    padding: 5px;
}
.dashboard-resumen-estado{
    width:33%;
    display: grid;
}

.dashboard-resumen-caja{
    width:33%;
    display: grid;
}

.dashboard-resumen-saldos{
    width:33%;
    display: grid;
}

.dashboard-resumen-opciones{
    width:33%;
    display:grid;
}

.dashboard-resumen-detalles{
    width: 33%;
    display: grid;
}

.dashboard-detalles{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 100%;
    margin:5px;
    padding: 5px;
    display: inline-flex;
}

.dashboard-detalles-transacciones{
    width:70%;
}

.dashboard-detalles-acciones{
    display: block;
    width: 33%;
}

#scroll-wrapper{
    overflow: auto;
    height: 380px;
}

#scroll-content{ 
    position: relative;
    padding:2px;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.addInWin{
    display:none;
    position: fixed;
    z-index: 1;
    left:40%;
    top:30%;
    width: 300px;
    height:fit-content;
    overflow: auto;
    border: 1px solid transparent;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);

}

.add-radio-div{
    padding: 5px;
    display: inline;
    font-size: 15px;
}

.radiobtn{
    padding: 5px;
    cursor: pointer;
}

.addInWin-header{
    padding: 5px;
    border: 0.5px solid grey;
    color: white;
    background-color: #FF7A00;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
}

.addInWin-content{
    padding: 1px;
    width: 100%;
    text-align: center;
}

.addInWin-close {
    color: white;
    float: right;
    font-size: 15px;
  }:hover{
      color:#aaa;
      text-decoration: none;
      cursor: pointer;
  }